<div class="block-element">
    <div class="element-row">
        <p class="element-title">TITLE</p>
        <p class="element-date">DATES_ATTENDED</p>
    </div>
    <div class="element-row">
        <p class="element-subtitle">SUBTITLE</p>
        <p class="element-date">GRADUATION</p>
    </div>
    <div class="element-row">
        <p class="element-text">SUMMARY</p>
    </div>
    <div class="element-row">
        <p class="element-location">&#8203;LOCATION</p>
    </div>
    <div class="element-col">
        <p class="element-header">Honors</p>
        <div class="element-list">
            HONORS_LIST
        </div>
    </div>
    <div class="element-col">
        <p class="element-header">Courses</p>
        <div class="element-list">
            COURSES_LIST
        </div>
    </div>
</div>