/* GENERAL */

* {
    --dark: #212020;
    --light: #fffcf8;
    --shadow: #21202040;
    margin: 0;
    padding: 0;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 4rem;
}

body {
    overflow-x: hidden;
}

p, a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 150%;
}

.content {
    width: 80vw;
    margin: 0 10vw;
}

/* if the user isn't on mobile, make the content section narrower */
@media only screen and (min-width: 768px) {
    .content {
        width: 60vw !important;
        margin: 0 20vw !important; 
    }
}

/* the content section can only be 1300px maximum */
@media only screen and (min-width: calc(1300px / 0.6)) {
    .content {
        width: 1300px !important;
        margin: 0 calc((100vw - 1300px) / 2) !important; 
    }
}


/* INTRO (top part) */

#intro-div {
    height: fit-content;
    min-height: 60vh;
    width: 100vw;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-content {
    height: 100%;
    color: var(--light);
    padding: 40px 0 60px 0;
}

#name {
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    font-size: 2rem;
}

#name-subheader {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.about-info {
    margin-top: 1.5rem;
}

.about-info > a {
    color: var(--light);
}


/* CURVE */

#curve {
    width: 100vw;
    height: 9.5vw;
    background-color: var(--light);
    margin-top: -15px;
    padding-bottom: 5px;
}


/* BODY (bottom part) */

#body-div {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--light);
    margin-top: -5px;
}

#body-content {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 15rem auto;
    align-items: start;
}

nav {
    position: sticky;
    top: 4rem;
}

nav > a {
    display: block;
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
}

.menu-item-bold{
    text-shadow: 1px 1px rgba(54, 54, 54, 0.854);
    transition: text-shadow .5s;
}

.body-block {
    margin-bottom: 100px;
}

.body-block:last-of-type {
    margin-bottom: 200px;
}

.block-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
}

.block-element {
    margin-bottom: 3rem;
}

.element-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.element-col {
    width: calc(100% - 3rem);
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 1.5rem 0 1.5rem 3rem;
}

.element-title {
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 80%;
}

.element-subtitle {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
}

.element-location {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    color: var(--dark);
}

.element-date {
    font-size: 1.2rem;
    font-weight: 400;
}

.element-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.element-header {
    font-size: 1.2rem;
    font-weight: 600;
}

.element-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.element-standalone-list {
    margin-left: 4rem;
}

.element-standalone-list > .element-list-item {
    display: list-item;
    list-style-type: "\2013";
    padding-inline-start: 1rem;
}

.element-list-item {
    font-size: 1.2rem;
    font-weight: 400;
}

.invisible {
    display: none;
}

@media only screen and (max-width: 768px) {
    #body-content {
        display: flex;
        flex-direction: column;
    }

    nav {
        visibility: hidden;
    }

    .element-row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .element-row:last-of-type {
        margin-bottom: 1rem;
    }

    .element-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0 1.5rem 1.5rem;
    }

    .element-list {
        margin-left: 2rem;
    }
}